@font-face {
  font-family: "elgraine";
  src: url(elgraine-thin-webfont.woff2) format(woff2);
}

@font-face {
  font-family: "jovera";
  src: url(jovera-webfont.woff2) format(woff2);
}

@font-face {
  font-family: "elgraine_black";
  src: url(elgraine-black-webfont.woff2) format(woff2);
}

h2,
h3,
h4 {
  font-family: "jovera";
}

p {
  font-family: "elgraine";
}

.font1 {
  font-family: "jovera";
  font-size: 35px;
}

strong {
  font-family: "elgraine_black";
  font-size: 30px;
}

/* Navigation */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e3db;
  margin: 10px;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  padding: 20px;
  color: black;
  text-decoration: none;
  display: block;
}

header .navbar ul li a:hover {
  background: #f9f9f9;
}

header .navbar ul li ul {
  display: none;
  background: white;
  z-index: 1;
}

header .navbar ul li ul {
  display: none;
  left: 0;
  width: 175px;
  background: white;
}

header .navbar ul li:hover ul {
  display: block;
  position: absolute;
}

footer {
  background: #e8e3db;
  padding: 10px;
  font-size: 12px;
  margin: 10px;
}

footer .footer_text {
  text-align: center;
}

.click_btn {
  font-weight: bolder;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5%;
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-family: "jovera";
  transition: 1s;
  margin: 10px;
}

.click_btn:hover {
  transform: scale(1.1);
}

h1{
  display: inline-block;
  background: #42434f;
  color: white;
  font-size: 100px;
  margin: 0;
  padding: 50px;
  border-radius: 50%;
}

.titel_container {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.titel_img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

