@font-face {
  font-family: "elgraine";
  src: url(elgraine-thin-webfont.woff2) format(woff2);
}

@font-face {
  font-family: "jovera";
  src: url(jovera-webfont.woff2) format(woff2);
}

h1,
h2,
h3 {
  font-family: "jovera";
}

p {
  font-family: "elgraine";
}

.font1 {
  font-family: "jovera";
  font-size: 35px;
}

/* Navigation */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e3db;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  padding: 20px;
  color: black;
  text-decoration: none;
  display: block;
}

header .navbar ul li a:hover {
  background: #f9f9f9;
}

header .navbar ul li ul {
  display: none;
  background: white;
}

header .navbar ul li ul {
  display: none;
  left: 0;
  width: 175px;
  background: white;
}

header .navbar ul li:hover ul {
  display: block;
  position: absolute;
}
