/* index.html */

.index_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.index_col_1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/3;
}

.index_col_1 img {
  width: 100%;
}

.index_col_2 {
  display: grid;
}

.index_col_2 h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

.index_col_2 p {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

.content_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.content_col_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.content_col_2 {
  display: grid;
  text-align: left;
  font-family: "elgraine";
  font-size: 20px;
  background-color: #f9f9f9;
}

.content_col_2 a {
  text-decoration: none;
  color: black;
  padding: 25px;
}

/* ux.html */

.ux-img {
  width: 100%;
}

.ux_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ux_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ux_grid-1-1 {
  display: flex;
  align-content: center;
  gap: 25px;
}

.ux_grid-1-1 img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

/* web.html */

.web_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  margin: 10px;
}

.web_col-1 img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

.web_col-2 {
  text-align: center;
}

.web_grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.web_grid_1-1-1 h2,
p {
  text-align: center;
}

.web_grid_1-1-1 img,
p {
  width: 100%;
}

.ani_grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.ani_col-1 {
  background-color: #f9f9f9;
  padding: 10px;
}

.ani_col-1 h2,
p {
  text-align: center;
}

.ani_col-2 img {
  width: 100%;
}

.ani_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.ani_img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}
