/* index.html */

.index_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.index_col_1 img {
  width: 100%;
}

.index_col_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index_col_2 h2 {
  font-size: 50px;
}

.index_col_2 p {
  max-width: 50%;
  text-align: justify;
}

.content_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.content_col_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.content_col_2 {
  display: grid;
  text-align: left;
  font-family: "elgraine";
  font-size: 20px;
  background-color: #f9f9f9;
}

.content_col_2 a {
  text-decoration: none;
  color: black;
  padding: 25px;
  transition: 1s;
}

.content_col_2 a:hover {
transform: scale(1.01);
}

/* ux.html */

.ux-img {
  width: 100%;
}

.ux_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ux_grid-1-1-1 p {
  text-align: justify;
  max-width: 85%;
}

.ux_col_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ux_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.ux_grid-1-1 img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

.ux_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.ux_col_flex p {
  max-width: 75%;
  text-align: center;
}

.ux_grid_2-1 img {
  max-width: 100%;
}

.ux_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.ux_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 10px;
}

.ux_grid_1-2 img {
  width: 100%;
}

.ux_grid-1-1_col {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

.font3 {
  text-align: left;
  font-size: 35px;
  line-height: 60px;
  max-width: 95%;
}

/* web.html */

.web_col-1 img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

.web_col-2 {
  text-align: center;
}

.web_grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.web_grid_1-1-1 h2 {
  text-align: center;
}

.web_grid_1-1-1 p {
  text-align: justify;
  max-width: 85%;
}

.web_grid_1-1-1 img {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color:black;
}

.web_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.web_grid_2-1 img {
  max-width: 100%;
}

.font4 {
  text-align: justify;
  font-size: 40px;
  line-height: 50px;
}

.font5 {
  text-align: left;
  font-size: 35px;
  line-height: 50px;
  max-width: 68%;
}

.web_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.h2_web_col {
  text-align: right;
  font-size: 35px;
  line-height: 46px;
}

/* animation.html */

.ani_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.ani_grid_2-1 img {
  max-width: 100%;
}

.ani_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.ani_grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.ani_col-1 {
  background-color: #f9f9f9;
  padding: 10px;
}

.ani_col-1 h2 {
  text-align: left;
}

.ani_col-1 p {
  text-align: justify;
}

.ani_col-2 img {
  width: 100%;
}

.ani_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.ani_img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font2 {
  font-size: 50px;
  text-align: justify;
  line-height: 60px;
}

/* indhold.html */

.indhold_grid-1-1-1 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 10px;
  gap: 30px;
}

.indhold_grid-1-1-1 p {
  text-align: justify;
}

.indhold_grid-1-1-1 video {
  width: 100%;
}

.indhold_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.indhold_grid_2-1 img {
  max-width: 100%;
}

.indhold_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.indhold_col_flex p {
  max-width: 75%;
  text-align: center;
}

.indhold_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 10px;
}

.indhold_grid_1-2_0 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 10px;
}

.indhold_grid_1-2 img {
  width: 100%;
}

.indhold_grid_1-2_0 h3{
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.indhold_grid_1-2_0 p{
text-align: justify;
}

.indhold_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.indhold_grid-1-1_scrum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.indhold_grid-1-1 img {
width: 100%;
border-style: solid;
border-width: 1px;
border-radius: 10px;
border-color:black;
}

.indhold_grid-1-1_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.indhold_grid-1-1_col p {
  text-align: justify;
}

.indhold_grid_h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

/* about.html */

.about_grid-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.about_grid-1_contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about_grid-1_contact p {
  display: inline-block;
  text-align: center;
  background-color: #e8e3db;
  margin: 10px;
  padding: 10px;
}

.about_grid-1 img {
  width: 25%;
  border-radius: 50%;
}

.about_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.about_flex_col-1 {
  text-align: right;
  background: #8e9fad;
  color: white;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
}

.about_flex_col-1 p {
  text-align: right;
  background: #8e9fad;
}

.about_flex_col-1 h2 {
  display: inline-block;
  border: dotted;
  border-radius: 10px;
  padding: 15px;
  border-color: #e8e3db;
}

.about_flex_col-2 {
background: #f9f9f9;
  padding-top: 45px;
  padding-left: 45px;
  padding-bottom: 45px;
}

.about_flex_col-2 h2 {
  display: inline-block;
  border: dotted;
  border-radius: 10px;
  padding: 15px;
  border-color: #8e9fad;
}

.about_grid-1-1-f {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.about_flex_grid_f1 {
  background: #e8e3db;
  text-align: right;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
}

.about_flex_grid_f1 p {
  text-align: right;
}

.about_flex_grid_f1 h2 {
  display: inline-block;
  border: dotted;
  border-radius: 10px;
  padding: 15px;
  border-color: white;
}

.about_flex_grid_f2 {
  padding-top: 45px;
  padding-left: 45px;
  padding-bottom: 45px;
}

.about_flex_grid_f2 h2 {
  display: inline-block;
  border: dotted;
  border-radius: 10px;
  padding: 15px;
  border-color: #8e9fad;
}

.contact_text p {
  text-align: justify;
}

/* portfolio.html */

.portfolio_grid-1-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin: 10px;
  gap: 10px;
}

.portfolio_grid-1-1-2 img {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color:black;
}

.img-col {
  gap: 10px;
  /* margin: 10px; */
}

.text_col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

.text_col p{
  text-align: justify;
}

.text_col h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8e9fad;
  margin: 0;
  color: white;
}

.portfolio_grid-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.portfolio_grid-1-1-1-1 img{
  width: 100%;
}

.portfolio_grid-1-1-1-1 .tom {
  background-color: #8e9fad;
  margin: 0;
}

.portfolio_grid_div {
  background: #f9f9f9;
  text-align: justify;
}

.portfolio_grid_div h2, p{
margin: 10px;
}

/* Op til 1300px */

@media screen and (max-width: 1300px) {
  

/* indhold.html */

.indhold_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.indhold_grid-1-1_col {
  display: grid;
  grid-template-columns: 1fr;
}

.indhold_grid_h2 {
display: none;
}

.indhold_grid-1-1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.indhold_col-3 {
  grid-column: 1/3;
}

/*portfolio.html */

.portfolio_grid-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

}

/* Op til 1200px */

@media screen and (max-width: 1200px){

/* portfolio.html */

.portfolio_grid-1-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text_col h2 {
  display: none;

}
}

/* Op til 1099px */

@media screen and (max-width: 1099px){

/* web.html */

.web_grid_2-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.web_col_flex {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.web_grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* portfolio.html */

.portfolio_grid-1-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text_col {
  grid-column: 1/3;
  order: -1;
}

.portfolio_grid-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}

/* Op til 950px */
@media screen and (max-width: 950px){

/* indhold.html */

.indhold_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.indhold_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

video {
  width: 100%;
}

}

/* Op til 899px */

/* index.html */

@media screen and (max-width: 899px){

.index_grid_1-1{
display: grid;
grid-template-columns: 1fr;
}

.index_col_1 {
  order: 1;
}

.content_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

/* ux.html */

.ux_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.ux_col_flex {
  order: +1;
}

.ux_grid_2-1 {
  display: grid;
  grid-template-columns: 1fr;
}

/* indhold.html */

.indhold_grid_2-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.indhold_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr;
}

/* about.html */

.about_grid-1_contact {
  display: grid;
  grid-template-columns: 1fr;
}

.about_grid-1 img {
  width: 50%;
  border-radius: 50%;
}

}

/* op til 750px */

@media screen and (max-width: 750px){

/* web.html */

.web_grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.web_grid_1-1-1 p{
max-width: 100%;
}

/* ux.html */

.ux_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ux_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.ux_grid-1-1_col {
  display: grid;
  grid-template-columns: 1fr;
}
/* indhold.html */

.indhold_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

/* about.html */

.about_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.about_grid-1-1-f {
  display: grid;
  grid-template-columns: 1fr;
}

}


/* op til 500px */

@media screen and (max-width: 500px) {

/* ux.html */

  .ux_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.ux_grid-1-1-1 p {
  text-align: justify;
  max-width: 100%;
}


}