/* index.html */

.index_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.index_col_1 img {
  width: 100%;
}

.index_col_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index_col_2 h2 {
  font-size: 50px;
}

.index_col_2 p {
  max-width: 50%;
}

.content_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.content_col_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.content_col_2 {
  display: grid;
  text-align: left;
  font-family: "elgraine";
  font-size: 20px;
  background-color: #f9f9f9;
}

.content_col_2 a {
  text-decoration: none;
  color: black;
  padding: 25px;
}

/* ux.html */

.ux-img {
  width: 100%;
}

.ux_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ux_grid-1-1-1 p {
  max-width: 85%;
}

.ux_col_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ux_grid-1-1 {
  display: flex;
  align-content: center;
  gap: 25px;
}

.ux_grid-1-1 img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

.ux_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.ux_grid_2-1 img {
  max-width: 100%;
}

.ux_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.ux_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 10px;
}

.ux_grid_1-2 img {
  width: 100%;
}

/* web.html */

.web_col-1 img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

.web_col-2 {
  text-align: center;
}

.web_grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.web_grid_1-1-1 h2 {
  text-align: center;
}

.web_grid_1-1-1 p {
  text-align: left;
  max-width: 85%;
}

.web_grid_1-1-1 img {
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: #e8e3db;
}

.web_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.web_grid_2-1 img {
  max-width: 100%;
}

.web_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.h2_web_col {
  text-align: right;
  font-size: 35px;
  line-height: 46px;
}

/* animation.html */

.ani_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.ani_grid_2-1 img {
  max-width: 100%;
}

.ani_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.ani_grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.ani_col-1 {
  background-color: #f9f9f9;
  padding: 10px;
}

.ani_col-1 h2,
p {
  text-align: left;
}

.ani_col-2 img {
  width: 100%;
}

.ani_grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.ani_img {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  width: 100%;
}

/* indhold.html */

.indhold_grid-1-1-1 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 10px;
  gap: 10px;
  text-align: center;
}

.indhold_grid-1-1-1 video {
  width: 100%;
}

.indhold_grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
  gap: 10px;
}

.indhold_grid_2-1 img {
  max-width: 100%;
}

.indhold_col_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #8e9fad;
}

.indhold_grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 10px;
}

.indhold_grid_1-2 img {
  width: 100%;
}

/* about.html */

.about_grid-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.about_grid-1 img {
  width: 25%;
}

.about_grid-1 p {
  max-width: 35%;
}

.about_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.about_flex_col-1 {
  text-align: right;
  background: #8e9fad;
  color: white;
}

.about_flex_col-1 p {
  text-align: right;
  background: #8e9fad;
}

.about_flex_col-2 {
background: #f9f9f9;
}

.about_grid-1-1-f {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.about_flex_grid_f1 {
  background: #e8e3db;
  text-align: right;
}

.about_flex_grid_f1 p {
  text-align: right;
}